<h1><%= @bucket.name %></h1>
 <%= link_to 'Add Item', new_bucket_item_path(@bucket) %> 
 <%= link_to 'Home', '/' %>

<% if @bucket.items.any? %>
  <% @bucket.items.each do |item| %>
  <ul>
    <li>
      <h3><%= item.name %></h3>
    </li>
      <h5>Description: <br/> <%= item.description %></h5>
      <%= link_to 'Edit Item', edit_bucket_item_path(@bucket.id, item.id) %>
      <%= link_to 'Delete Item', bucket_item_path(@bucket.id, item.id), method: :delete %>
  </ul>
 <% end %> 

<% else %>
  <h3> No Items Listed </h3>
<% end %>