<h1>Items</h1>

<%= form_for [@bucket, @item] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br/>
  <%= f.submit %>

  <% end %>